.btn_back {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.btn_back__button {
    background-color: rgba(87, 87, 75, 0.986);
    color: white;
    font-family: monospace;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
}

.card__title {
    font-family: monospace;
    color:white;
}

.card__p {
    font-family: monospace;
    color:white;
}

.link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.episodes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        color: yellowgreen;
        font-family: monospace;
    }
}
.episodes__ul {
    color: white;
    font-family: monospace;
    cursor: pointer;
    
    li {
        &:hover {
            text-decoration: underline white;
        }
    }
}