<div class='btn_back'>
    <button routerLink='/characters/' class='btn_back__button'>Go back</button>
</div>

<div class='card'>
    <h2 class="card__title">{{character.name}}</h2>
    <img src="{{character.image}}" alt="{{character.name}}">
    <p class="card__p">Status: {{character.status}}</p>
    <p *ngIf="character.type" class="card__p">{{character.type}}</p>
    <p class="card__p">Gender: {{character.gender}}</p>
    <p class="card__p">Origin: {{character.origin.name}}</p>
    <p class="card__p">Location: {{character.location.name}}</p>

</div> 

<div class='episodes'>
    <h3>Episodes:</h3>
    <ul *ngFor ='let item of episodes' class='episodes__ul'>
        <li routerLink='/episodes/{{item.id}}'>{{item.name}}</li>

    </ul>
</div>
