header {
    width: 100%;
    z-index: 3;
}
.body , footer{
    background-image: url(images/starry-night-sky.jpg) ;
    margin:0px;
    
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

