html ,body {
    min-height: 100vh;
}

.logo {
    background-image: url('https://help.redbubble.com/hc/article_attachments/360002309526/Rick_and_Morty_-_logo__English_.png');
    min-width: 300px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 100px;

}

.photo {
    min-width: 300px;
    min-height: 250px;
    background-image: url('https://eloutput.com/app/uploads-eloutput.com/2021/01/Rick-morty-1.jpg?x=480&quality=20');
    background-repeat: no-repeat;
    background-position: center;
}