.menu {
    background-color: black;
    padding:20px 5px;
    // margin-top: 20px;
}

.menu__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.menu__a {
    color: white;
    font-family: monospace;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
        transform: scale(1.5);
    }
    

} 

hr {
    height: 2px;
    background-color: yellowgreen;
    margin: 0px;
    padding:0px;
}